IS_XNA_Shooter/IS_XNA_Shooter/IS_XNA_ShooterContent/Levels/level.dtd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!ELEMENT level (enemyList)>
<!ATTLIST level
	titulo CDATA #REQUIRED
	width CDATA #REQUIRED
	height CDATA #REQUIRED >
	
<!ELEMENT enemyList (enemy+)>

<!ATTLIST enemy
	type CDATA #REQUIRED
	positionX CDATA #REQUIRED
	positionY CDATA #REQUIRED
	time CDATA #REQUIRED >